<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<form [formGroup]="formGroup" novalidate (ngSubmit)="subForm()">

		<div text-wrap *ngFor="let item of data">

			<!--Section "title" (image)-->
			<div *ngIf="item.section === 'title'">
				<img src="{{item.value}}" class="logo" />
				<br /><h4 fixed>Vos infos</h4>
			</div>

			<!--Section "info"-->
			<div *ngIf="item.section === 'info'">
				<ion-item *ngIf="item.type === 'edit'">
				    <ion-label fixed>{{item.value}}</ion-label>
				    <ion-input type="text" [(ngModel)]=formData[item.value] formControlName="{{item.value}}" [ngClass]="{'has-error': formGroup.controls[item.value].errors}"></ion-input>
				</ion-item>

				<div *ngIf="item.type === 'radioButton'">
					<ion-list radio-group [(ngModel)]=formData[item.value] formControlName="{{item.value}}">
						<div text-wrap *ngFor="let choice of item.value">
							<ion-item>
								<ion-label>{{choice}}</ion-label>
						    	<ion-radio value="{{choice}}"></ion-radio>
						    </ion-item>
						</div>
					</ion-list>
				</div>
			</div>

			<!-- Section style -->
			<div *ngIf="item.section === 'Style'">
				<div *ngIf="item.type === 'label'">
				    <br /><h4 fixed>{{item.value}}</h4>
				</div>
				<ion-item *ngIf="item.type === 'button'">
				    <ion-label fixed>{{item.value}}</ion-label>
				    <ion-checkbox type="text" [(ngModel)]=formData[item.value] formControlName="{{item.value}}"></ion-checkbox>
				</ion-item>
			</div>

			<!--Section "abonnement"-->
			<div *ngIf="item.section === 'abonnement'">
				<div *ngIf="item.type === 'label'">
				    <br /><h4 fixed>{{item.value}}</h4>
				</div>
			    <div *ngIf="item.type === 'radioButton'">
			    	<ion-list radio-group [(ngModel)]=formData[item.value] formControlName="{{item.value}}">
						<div text-wrap *ngFor="let choice of item.value">
							<ion-item>
								<ion-label>{{choice}}</ion-label>
						    	<ion-radio value="{{choice}}"></ion-radio>
						    </ion-item>
						</div>
					</ion-list>
			   	</div>
			</div>

			<!--Section "newsletter"-->
			<div *ngIf="item.section === 'newsletter'">
				<div *ngIf="item.type === 'label'">
				    <br /><h4 fixed>{{item.value}}</h4>
				</div>
			</div>
			<div *ngIf="item.type === 'switch'">
				<ion-list>
				  	<ion-item>
				    	<ion-label>S'inscrire</ion-label>
				    	<ion-toggle [(ngModel)]=formData[item.value] formControlName="{{item.value}}"></ion-toggle>
				  	</ion-item>
				</ion-list>
			</div>
		</div>

		<button ion-button type="submit" block>S'inscrire</button>
    </form>

</ion-content>
